[Unit]
Description=Run eggbot room reader every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=room-reader.service

[Install]
WantedBy=timers.target
